<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/user/Guest">User</a>
    </nav>
    
    <h1>About Me</h1>
    <p>I'm Henny, a software engineering student who loves, Music, Art, Photography, and Anime.</p>
</body>
</html>